body {
  background-color: $bg-blue;
  max-width: 750px;
  margin: 0 auto;
  .LC40-index-wrap {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .bg-img {
      width: 100%;
      background: url(../images/LC40-game-page1-bg.jpg) no-repeat top center;
      background-size: 100%;
      &:before {
        content: "";
        display: block;
        background: url(../images/LC40-game-page1-bg-2.jpg) no-repeat top center;
        background-size: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        animation: img_shine 1.5s linear infinite alternate;
      }
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      text-align: center;
      .LC40-pic {
        padding-left: 54.8%;
        width: 100%;
      }
      .text {
        padding-top: 7em;
        padding-bottom: 3em;
        p {
          text-align: center;
          font-size: 34px;
          font-weight: bolder;
          position: absolute;
          &:nth-of-type(1) {
            color: $dark-yellow;
            font-size: 40px;
            line-height: 1.4;
            padding-top: 0.5em;
            left: 0;
            right: 0;
            top: 197px;
            span {
              display: block;
              font-size: 34px;
            }
          }
          &:nth-of-type(2) {
            left: 0;
            right: 0;
            top: 906px;
            span {
              font-size: 55px;
            }
            color: $dark-blue;
          }
        }
      }
    }
  }
}
