.LC40-start-wrap {
  max-width: 750px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
    &:after {
      content: "";
      display: block;
      background: url(../images/model.jpg) no-repeat bottom center;
      // background: url(../images/model.jpg) no-repeat -500px -300px;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: -300px;;
      left: 0;
      right: 0;
      animation: backgroundScale 5s ease 2s;
      animation-fill-mode: forwards;
    }
  .loading {
    display: none;
  }

  .loading.on {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .loading.on .loading-pulse {
    position: relative;
    margin: 40% auto 0;
    width: 6px;
    height: 24px;
    background: rgba(255, 255, 255, 0.2);
    animation: pulse 750ms infinite;
    animation-delay: 250ms;
  }
  .loading.on .loading-pulse:before,
  .loading.on .loading-pulse:after {
    content: "";
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgba(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse 750ms infinite;
  }
  .loading.on .loading-pulse:before {
    left: -12px;
  }
  .loading.on .loading-pulse:after {
    left: 12px;
    animation-delay: 500ms;
  }
  .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    width: 100%;
    .probiotic-game-wrap {
      position: absolute;
      left: 0;
      bottom: 900px;
      // margin-top: 320px;
      padding-left: 5%;
      opacity: 0.6;
      width: 60%;
      animation: probiotic-game-wrap 3s ease-in-out 2s;
      animation-fill-mode: forwards;
      transform-origin: bottom left;
      .bubble {
        // margin-top: 40px;
        margin-bottom: 20px;
        width: 30%;
        animation: scale 0.8s infinite ease-in-out alternate;
      }
      .probiotic-wrap {
        position: relative;
        .row {
          img {
            width: 12%;
            position: absolute;
            display: block;
          }
          &:nth-of-type(1) {
            img {
              top: 0;
              &:nth-of-type(1) {
                transform: rotate(20deg);
                left: 18% - 17;
                top: 40px;
              }
              &:nth-of-type(2) {
                left: 31% - 16;
                width: 20%;
              }
              &:nth-of-type(3) {
                left: 55% - 16;
                top: 20px;
              }
              &:nth-of-type(4) {
                transform: rotate(-40deg);
                left: 70% - 16;
              }
              &:nth-of-type(1),
              &:nth-of-type(3) {
                animation: rotate 0.5s infinite ease-in-out alternate;
              }
              &:nth-of-type(2),
              &:nth-of-type(4) {
                animation: rotate2 0.8s infinite ease-in-out alternate;
              }
            }
          }
          &:nth-of-type(2) {
            img {
              top: 150px;
              &:nth-of-type(1) {
                width: 23%;
                left: 23% - 16;
              }
              &:nth-of-type(2) {
                transform: rotate(-40deg);
                width: 12%;
                left: 50% - 16;
              }
              &:nth-of-type(3) {
                left: 70% - 16;
                width: 18%;
                top: 120px;
              }
              &:nth-of-type(4) {
                transform: rotate(-30deg);
                right: -5% + 16;
              }
              &:nth-of-type(1),
              &:nth-of-type(3) {
                animation: rotate 0.5s infinite ease-in-out alternate;
                animation-delay: 0.2s;
              }
              &:nth-of-type(2),
              &:nth-of-type(4) {
                animation: rotate2 0.8s infinite ease-in-out alternate;
                animation-delay: 0.2s;
              }
            }
          }
          &:nth-of-type(3) {
            img {
              top: 280px;
              &:nth-of-type(1) {
                transform: rotate(-25deg);
                left: 20% - 16;
                animation: rotate;
              }
              &:nth-of-type(2) {
                transform: rotate(30deg);
                left: 43% - 16;
              }
              &:nth-of-type(3) {
                transform: rotate(-60deg);
                width: 10%;
                right: 18% + 16;
                top: 200px;
              }
              &:nth-of-type(1),
              &:nth-of-type(3) {
                animation: rotate 1s infinite ease-in-out alternate;
                animation-delay: 0.8s;
              }
              &:nth-of-type(2) {
                animation: rotate2 1s infinite ease-in-out alternate;
                animation-delay: 0.5s;
              }
            }
          }
          &:nth-of-type(4) {
            img {
              top: 380px;
              &:nth-of-type(1) {
                transform: rotate(-25deg);
                left: 55% - 16;
                width: 15%;
                top: 300px;
              }
              &:nth-of-type(2) {
                transform: rotate(30deg);
                left: 70% - 16;
              }
              &:nth-of-type(3) {
                transform: rotate(-60deg);
                width: 24%;
                right: -8% + 16;
                top: 300px;
              }
              &:nth-of-type(1),
              &:nth-of-type(3) {
                animation: rotate 1.5s infinite ease-in-out alternate;
                animation-delay: 0.5s;
              }
              &:nth-of-type(2) {
                animation: rotate2 1.5s infinite ease-in-out alternate;
                animation-delay: 0.5s;
              }
            }
          }
        }
      }
    }
  }
  footer {
    height: 423px;
    // bottom: 0;
    .footer-content {
      .text-wrap {
        display: flex;
        flex-direction: row;
        justify-content: start;
        // padding-top: 100px;
        flex-wrap: wrap;
        img {
          // width: 25%;
          width: 204px;
          height: 100px;
        }
        .text {
          // width: 75%;
          width: 546px;
          p {
            text-align: left;
            font-size: 34px;
            font-weight: bolder;
            &:nth-of-type(1) {
              color: $dark-yellow;
              span {
                font-size: 40px;
                span {
                  font-size: 25px;
                  vertical-align: super;
                }
              }
            }
            &:nth-of-type(2) {
              padding-top: 0.5em;
            }
          }
        }
      }
      .note {
        // padding: 1.5em 0;
        color: #000;
      }
    }
  }
}
