/* Variables */
// @import "helper/_variables.scss";

/* Modules */
// @import "modules/_animation.scss";
// @import "modules/_fonts.scss";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #170000;
}
html {
  position: relative;
}
body {
  font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-family: "微軟正黑體" \0; //for ie
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  overflow-x: hidden;
  // background: $body-bg;
}
body.fixed {
  height: 100%;
  overflow: hidden;
}
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select,
button,
textarea {
  vertical-align: middle;
  outline: 0;
}
img {
  vertical-align: top;
  max-width: 100%;
}
.clear {
  clear: both;
  width: 0;
  height: 0px;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
  width: 100% !important;
}
.ie8-wrap {
  display: none;
}

button {
  cursor: pointer;
}

/*通用全站都有的寫法*/
*:link,
*:visited,
*:hover,
*:active,
*:focus {
  transition: color 0.25s linear, background-color 0.25s linear,
    border-color 0.25s linear, padding 0.15s linear, filter 0.15s linear,
    opacity 0.15s linear, transform 0.25s linear;
}

// 共同

//color
$yellow: #d6a818;
$dark-yellow: #ba7c17;
$blue: #267cc4;
$dark-blue: #073190;
$bg-blue:#023591;

#wrongModal .modal-dialog .modal-content {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

// header
  header{
    position: absolute;
    top: 8px;
    left: 23px;
    z-index: 6;
  }

// footer
footer {
  .footer-content {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    .start , .redeem {
      display: block;
      img {
        animation: scale 0.8s infinite ease-in-out alternate;
      }
    }
    .note {
      padding: 1.5em 0;
      font-size: 16px;
      color: #fff;
    }
  }
}

@keyframes img_shine {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// @keyframes font-shine {
//   0% {
//     background-position: 0% 0;
//   }
//   to {
//     background-position: -300% 0;
//   }
// }

@keyframes scale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-ribbon {
  from  {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes rotate {
  // from { transform:  rotate(-10deg); }
  to {
    transform: rotate(10deg);
  }
}

@keyframes rotate2 {
  // from { transform:  rotate(10deg); }
  to {
    transform: rotate(-10deg);
  }
}

@keyframes backgroundScale {
  from  {
    transform: scale(1);
  }
  to {
    transform: scale(1.6);
  }
}

@keyframes probiotic-game-wrap {
  0% {
    width: 60%;
    opacity: 0.6;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes pulse {
  50% {
    background: #fff;
  }
}

// .shine-font-yellow {
//   background: -webkit-linear-gradient(
//     left,
//     $yellow 0%,
//     $dark-yellow 24%,
//     $yellow 36%,
//     $dark-yellow 46%,
//     $yellow 52%,
//     $dark-yellow 58%,
//     $dark-yellow 67%,
//     $yellow 100%
//   );
//   background-size: 100%;
//   -webkit-transition: 1s;
//   -o-transition: 1s;
//   transition: 1s;
//   background-size: 300%;
//   -webkit-animation: font-shine 10s infinite;
//   animation: font-shine 10s infinite;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .shine-font-blue {
//   background: -webkit-linear-gradient(
//     left,
//     $blue 0%,
//     $dark-blue 24%,
//     $blue 36%,
//     $dark-blue 46%,
//     $blue 52%,
//     $dark-blue 58%,
//     $dark-blue 67%,
//     $blue 100%
//   );
//   background-size: 100%;
//   -webkit-transition: 1s;
//   -o-transition: 1s;
//   transition: 1s;
//   background-size: 300%;
//   -webkit-animation: font-shine 10s infinite;
//   animation: font-shine 10s infinite;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// pad layout
@media screen and (max-width: 767px) {
}
// mobile
@media screen and (max-width: 640px) {
}
// iphone XS Max, Plus
@media screen and (max-width: 414px) {
}
// iphone XS, iphone X
@media screen and (max-width: 375px) {
}
// sony, htc, samsung
@media screen and (max-width: 360px) {
}

/* Theme */
@import "theme/index.scss";
@import "theme/start.scss";
@import "theme/success.scss";
// @import "theme/pt2Ingredient.scss";
// @import "theme/pt3Product.scss";
// @import "theme/honorstige.scss";
// @import "theme/pt4Event.scss";
// @import "theme/event.scss";
