.LC40-game-wrap {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .LC40-game-wrap .bg-img {
    width: 100%;
    background: url(../images/LC40-game-page1-bg.jpg) no-repeat top center;
    background-size: 100%; }
    .LC40-game-wrap .bg-img:before {
      content: "";
      display: block;
      background: url(../images/LC40-game-page1-bg-2.jpg) no-repeat top center;
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      -webkit-animation: img_shine 1.5s linear infinite alternate;
      animation: img_shine 1.5s linear infinite alternate; }
  .LC40-game-wrap .content {
    position: absolute;
    top: 597px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center; }
    .LC40-game-wrap .content .LC40-pic {
      padding-left: 54.8%;
      width: 100%; }
    .LC40-game-wrap .content .text {
      padding-top: 7em;
      padding-bottom: 3em; }
      .LC40-game-wrap .content .text p {
        text-align: center;
        font-size: 34px;
        font-weight: bolder; }
        .LC40-game-wrap .content .text p:nth-of-type(1) {
          color: #ba7c17; }
          .LC40-game-wrap .content .text p:nth-of-type(1) span {
            font-size: 55px; }
        .LC40-game-wrap .content .text p:nth-of-type(2) {
          padding-top: 0.5em; }
    .LC40-game-wrap .content .note {
      padding-top: 2em;
      position: absolute;
      bottom: 0; }
      .LC40-game-wrap .content .note p {
        font-size: 18px;
        color: #fff; }
