//color
$dark-yellow: #ba7c17;
$blue: #023591;

.LC40-game-wrap {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  .bg-img {
    width: 100%;
    background: url(../images/LC40-game-page2-bg.png) no-repeat top center;
    background-size: 100%;
    &:after {
      content: "";
      display: block;
      background: url(../images/model.jpg) no-repeat;
      background-position: -500px -100px;
      background-size: 220%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    height: 100%;
    .probiotic-game-wrap {
      margin-left: -60px;
      margin-top: 350px;
      .probiotic-wrap {
        .row {
          width: 55%;
          img{
            width: 15%;
          }
          &:nth-of-type(1) {
            img {
              &:nth-of-type(1) {
                transform: rotate(20deg);
                margin-top: 50px;
              }
              &:nth-of-type(2) {
                 margin-top: 50px;
              }
              &:nth-of-type(3) {
              }
              &:nth-of-type(4) {
                transform: rotate(-40deg);
                margin-top: 30px;
                margin-left: 5%;
              }
            }
          }
          &:nth-of-type(2) {
           margin-top: -20px;
           margin-left: 10%;
            img {
               margin-left: 6%;
              &:nth-of-type(1) {
                width: 23%;
              }
              &:nth-of-type(2) {
                transform: rotate(-40deg);
                margin-top: -15px;
                width: 12%;
              }
              &:nth-of-type(3) {
              }
              &:nth-of-type(4) {
                transform: rotate(-30deg);
                margin-top: -40px;
              }
            }
          }
          &:nth-of-type(3) {
            margin-top: -40px;
            margin-left: 5%;
            img {
              margin-left: 8%;
              margin-top: -40px;
              &:nth-of-type(1) {
                transform: rotate(-25deg);
                margin-top: -20px;
                margin-left: -8%;
              }
              &:nth-of-type(2) {
                transform: rotate(30deg);
              }
              &:nth-of-type(3) {
                transform: rotate(-60deg);
                margin-top: -40px;
                width: 13%;
              }
            }
          }
          &:nth-of-type(4) {
            margin-left: 23%;
            margin-top: -40px;
            img {
              margin-left: 5%;
              margin-top: -40px;
              &:nth-of-type(1) {
                transform: rotate(-25deg);
                margin-top: -20px;
                margin-left: -8%;
              }
              &:nth-of-type(2) {
                transform: rotate(30deg);
              }
              &:nth-of-type(3) {
                transform: rotate(-60deg);
                margin-top: -60px;
                width: 24%;
              }
            }
          }
        }
      }
    }
    .text-wrap {
      display: flex;
      flex-direction: row;
      justify-content: start;
      // padding-top: 100px;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0;
      img {
        width: 25%;
        height: 100px;
      }
      .text {
        width: 75%;
        p {
          text-align: left;
          font-size: 34px;
          font-weight: bolder;
          &:nth-of-type(1) {
            color: $dark-yellow;
            span {
              font-size: 40px;
              span {
                font-size: 25px;
                vertical-align: super;
              }
            }
          }
          &:nth-of-type(2) {
            padding-top: 0.5em;
          }
        }
      }
    }

    .start {
      img {
        animation: scale 0.8s infinite ease-in-out alternate;
      }
    }
    .note {
      padding-top: 2em;
      p {
        font-size: 18px;
        color: #000;
      }
    }
  }
}
